/* body, страница */
body{
	background-image: var(--background-url) !important; 
	background-position-y: top !important;
	background-position-x: center !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed !important;
	background-origin: initial !important;
	background-clip: initial !important;
	background-color: transparent !important;
	background-size: cover !important;
}
.l-page {
	background-color: #fffffff0;
	backdrop-filter: blur(2px);
	box-shadow: 0px 0px 4px 1px #00000040;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
@media screen and (max-width: 768px) {
	.l-page {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
}
  
/* Избранное */
#profiles_show .cc-favourites {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 2px;
}

#profiles_show .cc-favourites .c-column {
    width: 100%;
	padding: 0 2.5% !important;
	margin: 0;
}
  
/* Аватарка, Список аниме, Список манги, История */
.p-profiles .profile-head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.p-profiles .profile-head .c-history {
    order: 2;
    flex-basis: 20% !important;
    width: 20%;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;

}
.p-profiles .profile-head .c-brief{
    order: 0;
    flex-basis: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-profiles .profile-head .c-brief .avatar{
    order: 1;
    flex-basis: 20% !important;
    width: 20%;
}
  
.p-profiles .profile-head .c-brief .head{
    order: 0;
    flex-basis: 79% !important;
    width: 79%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.p-profiles .profile-head .c-brief .head h1{
    font-size: 64px;
    font-family: var(--font-family);
    margin-bottom: 4px;    
}

.p-profiles .profile-head .c-info {
    order: 1;
    flex-basis: 79% !important;
    width: 79%;
    overflow: visible;
    position: relative;
}

@media screen and (max-width: 768px) {
	.p-profiles .profile-head .c-brief .head h1{
        font-size: 32px;   
	}
}

@media screen and (max-width: 480px) {
	.p-profiles .profile-head .c-brief .head h1{
        font-size: 24px; 
	}
    .p-profiles .profile-head .c-brief{
        flex-direction: column-reverse;
    }
    .p-profiles .profile-head .c-info {
        flex-basis: 100% !important;
        width: 100%;
    }
}

/* Время за аниме и мангой, Активность, Друзья, Клубы */
  
.p-profiles-show .profile-content .cc-2 > .c-column {
    width: 100%;
}
  
/* ошибка */
.b-feedback .marker-text{
	display: none;
}
.b-feedback .hover-activator{
	background: none;
}
.b-feedback .marker-positioner{
  	position: absolute;
  	left: -15px;
	word-break:break-all;
	background-color: #ffffffdb;
	width: 20px !important;
	height: 70px !important;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 6px;
	z-index: 3;
	transition: all 0.2s ease;
}
.b-feedback .marker-positioner:hover{
	background-color: #343434;
  	left: 0px;
}
.b-feedback .marker-positioner:before{
	/*transform: rotate(-90deg);*/
	content: "error";
	font-family: sans-serif;
	font-size: 18px;
	line-height: 0.7;
	color: #fff;
}

/* Достижения */
.block.achievements .cc-2 .c-column:nth-child(1){
	width: 49%;
	margin-right: 1%;
}
.block.achievements .cc-2 .c-column:nth-child(2){
	width: 49%;
	margin-left: 1%;
}
.block.achievements .cc-2 .c-column:nth-child(3){
	width: 100%;
}
.block.achievements .cc-2 .c-column:nth-child(4) .cc-authors{
	display: flex;
} 
.block.achievements .cc-2 .c-column:nth-child(4) .cc-authors .b-achievement{
	margin-right: 1%;
}
.block.achievements .cc-2 .c-column:nth-child(4) .cc-authors .b-achievement:last-child{
	margin-right: 0;
} 

@media screen and (max-width: 767px) {
	.block.achievements .cc-2 .c-column:nth-child(4) .cc-authors {
		display: flex;
		flex-wrap: wrap;
	}
	.p-profiles-show .achievements .cc-authors .b-achievement {
		width: 32.3333333333%;
	}
}
